@model IEnumerable<creWin.Models.ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<style>
    .product-thumbnail {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 4px; 
    }
</style>




<table class="table">
    <thead>
        <tr>
            <th>
                Thumbnail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
        </tr>
    </thead>
    <tbody>


        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.thumbnail" alt="@item.title" class="product-thumbnail" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discountPercentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stock)
                    </td>
                </tr>

            }
        }
    </tbody>
</table>
